@import "http://static.jgblue.com/css/reset.css";

body {
	background-color: #0d151b;
	background-image: url(http://static.jgblue.com/img/bg-fade.png);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 75%;
	color: #eee;
}

#bg-art-left {
	background: url(http://static.jgblue.com/img/bg1.jpg) no-repeat top left;
	position: relative;
	top: 0;
}

p {
	line-height: 20px;
	margin-top: 15px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #0066ff;
	font-size: 175%;
	letter-spacing: -0.05em;
	font-weight: bold;
	border-bottom: solid 1px #15191e;
	padding-bottom: 3px;
	margin-bottom: 12px;
}

#infobox table
{
	width: 100%;
}

#infobox td
{
	width: 50%;
	padding: 4px 4px 4px 4px;
}

#infobox tr.alt td {
	background-color: #2f363f;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	margin-bottom: 8px;
	letter-spacing: -1px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #15191e;
}

img {
	border: 0px;
}

#container {
	width: 864px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}

#banner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#context {
	padding: 10px;
}

#context li
{
	display: inline;
}

#context li:before
{
	content: "\00BB \0020";
}

#context li.first:before
{
	content: "";
}

#content-wrap {
	background-color: #181e22;
	padding: 6px;
}


#content {
	background-color: #20252b;
	padding: 10px;
	border: #101317 solid 1px;
	overflow: hidden;
}

#infobox {
	float: right;
	width: 300px;
	border: solid 1px #15191e;
	background-color: #282e36;
	padding: 10px;
}

#menu ul {
	list-style-position:outside;
	list-style-type:none;
}

#menu {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(http://static.jgblue.com/img/menu-bg.png) repeat-x;
	height: 44px;
	margin-top: 5px;
	overflow: hidden;
}

.menulist .first a
{
	border-left: none;
	padding-left: 20px;
}

.menulist li a
{
	padding: 15px 18px 17px;
}

.menulist li
{
	list-style-image: none;
	background: url(http://static.jgblue.com/img/menu-sep.png) right no-repeat;
	float: left;
	margin: 0;
}

.menulist a
{
	text-decoration: none;
	color: #bbb;
	display: block;
}

.menulist a:hover
{
	color: #ddd;
}

.subheading {
	text-align: center;
}
