body {
	background-color: #dae8f0;
	background-image: url(http://static.jgblue.com/img/bg-fade-w.png);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 75%;
	color: #111;
}

img {
	border: 0px;
}

#container {
	width: 864px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}

#banner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subheading {
	
	text-align: center;
}
