<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JGBlue - A Jumpgate Evolution Database</title>
<link href="http://static.jgblue.com/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container">
    <div id="banner">
    	<a href="./" title="JGBlue - A Jumpgate Evolution Database">
        <img class="logo" src="http://static.jgblue.com/img/jgblue_logo.png" />
        </a>
    </div>
    <div class="subheading">A Jumpgate Evolution database  <br/> Coming soon...</div>
</div>

</body>
</html>
