{% extends "base.htm" %}
{% load i18n %}

{% block title %}{{ item.name }}{% endblock %}
{% block head_scripts %}
{% if has_3d %}
<script src="http://dstatic.jgblue.com/j3d/o3djs/base.js" type="text/javascript"></script>
<script src="http://dstatic.jgblue.com/js/jgblue-3d.js?7" type="text/javascript"></script>
{% endif %}
{% endblock %}

{% block infobox %}
<div id="infobox">
<h5>{% trans "Quick Info" %}</h5>
<table>
{% for label, value in quickinfo %}
{% if value %}
<tr {% cycle '' 'class="alt"' %}><th>{{ label }}:</th><td>{{ value }}</td></tr>
{% endif %}
{% endfor %}
</table>
</div>
{% endblock %}

{% block content %}
<h1>{{ item.name }}</h1>
<div style="min-height: 250px;">
    <div style="float: left">
    {% include "tooltip.htm" %}
    </div>
    <div style="float: left">
    <div id="o3d" style="width: 250px; height: 250px;"></div>
    </div>
</div>
<h2>{% trans "Related" %}</h2>
<a name="uploaded"></a>
<div class="tabs-container">
    <ul class="tabs">
        <li id="screenshots-tab"><a href="javascript:;"><div>Screenshots</div></a></li>
        <li id="comments-tab"><a href="javascript:;"><div>Comments</div></a></li>
        {% if has_3d %}
        <li id="j3d-tab"><a href="javascript:;"><div>3D</div></a></li>
        {% endif %}
    </ul>
</div>
<div id="tab-pages">
    <div id="screenshots-tabpage" class="tab-page">
        <div id="pre-div-bar">
            <a href="javascript:;" id="screen-form-toggler" >{% trans "Submit a screenshot" %}</a>
        </div>
        <div id="screenshot-form" class="text pad">
            {% if user.is_authenticated %}
                <p>Browse for a file on your computer.
                JPG, PNG, and GIF files are currently supported.</p>
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <li><span>{{ message }}</span></li>
                {% endfor %}
                </ul>
                {% endif %}
                <form action="?upload_ss" method="post" enctype="multipart/form-data">
                <table class="generic">
                {{ ss_form.as_table }}
                </table>
                <input type="submit" id="screenshot-submit" value="Submit"/>
                </form>
            {% else %}
                You must be registered to submit screenshots. 
            {% endif %}
        </div>
        <div id="screenshots-lv" class="listview grid">
            {% include "controls/listview-bar.htm" %}
        </div>
    </div>
    <div id="comments-tabpage" class="tab-page" style="display:none">
         Here be comments
    </div>
    <div id="j3d-tabpage" class="tab-page" style="display:none">
        <!-- Start of O3D plugin -->
        <!-- End of O3D plugin -->
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    {% autoescape off %}
    var g_screenshots = {{ json_screenshots }};
    {% endautoescape %}
    var ss_lv = jgblue.listview.create({template:"screenshots", parent:"#screenshots-lv"}, g_screenshots)
    var tabs = jgblue.tabs.create({}, [
        { tabpage: "#screenshots-tabpage", tab: "#screenshots-tab" },
        { tabpage: "#comments-tabpage", tab: "#comments-tab" }
        {% if has_3d %}
        ,{ tabpage: "#j3d-tabpage", tab: "#j3d-tab", click: onJ3D }
        {% endif %}
    ]);

    {% if has_3d %}
    var made = false;
    var j3dclient;
    function onJ3D() {
        if (made == true) {
            return;
        }

        made = true;
        var options = {};
        jgblue.j3d.createClient(options, function (client) {
            client.loadTestScene();
            j3dclient = client;
        });
    }
    {% endif %}

</script>
{% endblock %}
