{% extends "base.htm" %}
{% load i18n %}

{% block title %}{{ item.name }}{% endblock %}

{% block infobox %}
<div id="infobox">
<h5>{% trans "Quick Info" %}</h5>
<table>
{% for label, value in quickinfo %}
{% if value %}
<tr {% cycle '' 'class="alt"' %}><th>{{ label }}:</th><td>{{ value }}</td></tr>
{% endif %}
{% endfor %}
</table>
</div>
{% endblock %}

{% block content %}
<h1>{{ item.name }}</h1>
{% include "item/tooltip.htm" %}
<h2>{% trans "Related" %}</h2>
<div class="tabs-container">
    <ul class="tabs">
        <li><a href="#"><div>Screenshots</div></a></li>
        <li><a href="#"><div>Comments</div></a></li>
    </ul>
</div>
<div id="submit-screenshot" class="tab-page">
    <h3>{% trans "Submit a screenshot" %}</h3>
    Browse for a file from your computer.<br/>


</div>
{% endblock %}
