{% extends "base.htm" %}

{% block title %}{{ item.name }}{% endblock %}

{% block infobox %}
<div id="infobox">
<h2>Quick Info</h2>
<table>
{% for label, value in quickinfo %}
{% if value %}
<tr {% cycle '' 'class="alt"' %}><th>{{ label }}:</th><td>{{ value }}</td></tr>
{% endif %}
{% endfor %}
</table>
</div>
{% endblock %}

{% block content %}
<h1>{{ item.name }}</h1>
{% include "item/tooltip.htm" %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis rutrum elit, quis porta tellus euismod tincidunt. Nam non felis at libero interdum porta. Phasellus viverra urna quis sem mattis sed laoreet est dignissim. Sed a sem arcu, quis sagittis tellus. Ut velit diam, lobortis vel hendrerit vitae, tincidunt non enim. Aliquam et leo eros, eu pretium risus. Aenean orci felis, adipiscing non pretium at, condimentum dictum velit. Nulla lorem magna, lacinia vitae tristique non, placerat at ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In imperdiet laoreet ultricies. Vivamus ut urna turpis, quis molestie elit. Praesent et tempor ipsum. Integer sit amet mauris neque, a cursus ante. Curabitur eget justo massa, ac sagittis augue.</p>

<p>Praesent quis sapien augue. Nulla sit amet mauris odio, id sodales diam. Donec porta nulla nec nibh rhoncus hendrerit. Donec nec mauris at nisi cursus venenatis. Donec ut neque dui. Maecenas faucibus suscipit turpis, at vehicula metus congue at. Quisque a erat magna, vitae malesuada massa. Sed vitae urna urna. Vestibulum sodales mauris ac velit adipiscing eu lobortis lectus aliquam. Pellentesque quis enim risus, ac ultricies lectus. Sed vitae eros magna. Vestibulum posuere nibh nec nunc mattis quis dictum justo rhoncus. Donec blandit, eros in malesuada elementum, sapien magna sagittis arcu, et suscipit velit velit eu dui. Aenean lectus lacus, pellentesque sed dapibus at, vestibulum at ligula. Morbi pharetra magna non tellus bibendum vulputate. Nullam ultricies leo ut quam euismod eget congue nisi dapibus. Morbi accumsan nunc tortor. Nullam vehicula, erat vel volutpat semper, quam magna sollicitudin tellus, et eleifend libero enim a tellus. Donec suscipit luctus elit a porta.</p>
{% endblock %}
