{% extends "base.htm" %}

{% block title %}JGE Items{% endblock %}


{% block infobox %}{% endblock %}

{% block content %}
<div class="listview" id="items-lv">
    <div class="lv-bar">
        <div class="lv-page">
        {% spaceless %}
            <img class="sprites sprite-fastleft" src="http://static.jgblue.com/img/pixel.gif"/>
            <img class="sprites sprite-left" src="http://static.jgblue.com/img/pixel.gif"/>
            <span class="lv-page-txt"></span>

            <img class="sprites sprite-right" src="http://static.jgblue.com/img/pixel.gif"/>
            <img class="sprites sprite-fastright" src="http://static.jgblue.com/img/pixel.gif"/>
        {% endspaceless %}
        </div>
        <div class="lv-bar-note"><b>{{ items_total }}</b> items found. <b>{{ items_displayed }}</b> displayed.</div>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script type="text/javascript">
    {% autoescape off %}
    var g_items = {{ json_items }};
    {% endautoescape %}
	var lv = jgblue.listview.create({template:"items", parent:"#items-lv"}, g_items);
</script>
{% endblock %}
