<div class="lv-bar">
    <div class="lv-page">
    {% spaceless %}
        <img class="sprites sprite-fastleft" src="http://dstatic.jgblue.com/img/pixel.gif"/>
        <img class="sprites sprite-left" src="http://dstatic.jgblue.com/img/pixel.gif"/>
        <span class="lv-page-txt"></span>

        <img class="sprites sprite-right" src="http://dstatic.jgblue.com/img/pixel.gif"/>
        <img class="sprites sprite-fastright" src="http://dstatic.jgblue.com/img/pixel.gif"/>
    {% endspaceless %}
    </div>
    <div class="lv-bar-note"></div>
</div>
